{
    "include": ["src/**/*"],
    "exclude": ["**/*.d.ts"],
    "extension": [
        ".ts"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "text"
    ],
    "all": true
}
